@model MovimientosBodegaSensible.Models.ServicioTecnico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServicioTecnico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasoSiebel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasoSiebel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
